html {
/*  font-family: sans-serif;
  text-align: center;
  background: #353535;*/
}
body {
  text-align: center;
  background-color: #000;
}
li {
  list-style-type: none;
  margin: 1em;
  height: 1em;
}
div.d {
  font-size: 2em;
}
a {
  text-decoration: none;
  font-size: 150%;
  color: #c5c3c6;
}
a:hover {
  font-size: 3em
}
h1 {
  font-size: 6em;
  color: blue;
}
h2 {
  font-size: 2.5em;
  color: #c5c3c6;
}
